.container{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

h1{
    text-align: center;
}
.card{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin: auto;

}
.color-type{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
    margin: auto;
    background-color: orange;
}
.hexadecimal-code{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
    margin: auto;
    background-color: #255;
}
.rgb{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
    margin: auto;
    background-color: rgb(50, 142, 235);
}
.rgba{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
    margin: auto;
    background-color: rgba(203, 32, 115, 0.6);
}
.hsl{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
    margin: auto;
    background-color: hsl(123, 95%, 41%);
}
.hsla{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
    margin: auto;
    background-color: hsla(222,22%,44%,88%);
}
.one{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 100%;
    margin: auto;
    background: linear-gradient(to right ,yellow,red);
}
.two{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 100%;
    margin: auto;
    background: radial-gradient(farthest-side,brown,blue);
}