.container{
    height: 500px;
    width: 1000px;
    border: 2px solid black;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    
}
.one{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    margin: auto;
    background-color: orange;
    text-align: center;

}
.one:hover{
    background-image: url("https://wallpaperaccess.com/full/1603950.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
    top: 20px;
    background-repeat: no-repeat;

}
