.decent {
    color: white;
    background-color: black;
}
.child>p{
    color: white;
    background-color: black;
}

h3+p{
    color: red;
    background-color: blue;
}
h4~p{
    color: yellow;
    background-color: blue;
}