div{
    width: 100px;
    height: 100px;
    background-color: blue;
    animation-name: box;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

}

@keyframes box{
    from{
        background-color: green;
        transform: scaleX(1.3);
    }
    to{
        background-color: purple;
        transform: scaleX(1.8);
    }
}

body{
    background-color: black;
}
h1{
    color: white;
}
/* div{
    width: 50px;
    height: 50px;
    background-color: black;
    box-shadow: 3px 4px 8px white;
    border-radius: 50%;
    animation-name: moon;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    position: relative;
}
@keyframes moon{
    0%{
        top: 0px;
        left: 0px;
    }
    25%{
        top: 250px;
        left: 0px;
        background-color: yellow;
        box-shadow: 3px 4px 8px orange;
    }
    50%{
        top: 250px;
        left: 250px;
        background-color: orange;
        box-shadow: 3px 4px 8px yellow;
    }
    75%{
        top: 0px;
        left: 250px;
        background-color: orangered;
        box-shadow: 3px 4px 8px orange;
    }
    100%{
        top: 0px;
        left: 0px;

    }
} */
button{
    animation-name: box;
    animation-iteration-count: infinite;
    background-color: white;
    border-radius: 20px;
    /* border-color: yellow; */
    animation-duration: 2s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    border: 2px solid;

    
}
@keyframes box{
    0%{
       border-color: blue; 
        
    }
    25%{
        border-color: yellow;
        

    }
    50%{
        border-color: red;
        
    }
    75%{
        border-color: green;
        
    }
    100%{
        border-color: orange;
        
    }
}