div{
    width: 100px;
    height: 100px;
    background-color: cadetblue;
    margin: auto;
    transition-property: initial;
    transition-duration: 10s;
    /* transition-delay: 5s; */
    /* transition-timing-function: ease-in; */
    /* transition-timing-function: ease-out; */
    /* transition-timing-function: ease-in-out; */
    /* transition-timing-function: cubic-bezier();
    transition: all 5s 2s linear;
    transform: skew(20deg,20deg); */
    /* transform: rotate(120deg); */
    box-shadow: 10px 12px 13px red;
}
div:hover{
    width: 300px;
    height: 300px;
    background-color: red;

}