/* .absolute{
    width: 100px;
    height: 100px;
    border: 2px solid red;
}
body{
    background-color: black;
} */
.parent{
    background-color: orangered;
    width: 400px;
    height: 300px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-flow: row; */
    /* justify-content: center; */
    justify-content: space-around;
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    /* align-items: center; */
    /* align-content: space-around; */
}
.child{
    width: 50px;
    height: 50px;
    background-color: yellow;
    margin: 2px;
}
#child1{
    order: 0;
    flex-grow: 0;
    /* flex-basis: 100px; */
}
#child2{
    order: 0;
    flex-shrink: 4;
    /* flex:0 2 100px; */
    align-self: center;
}
#child3{
    order: 0;
    flex-grow: 0;
    align-self: flex-end;
    flex-shrink: 2;
}
#child1{
    order: 0;
}