/* .box1{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: green;
    margin: 2px;
    position: static;
}
.box2{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: red;
    margin: 2px;
    position: relative;
    left: 200px;
}


.box3{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: yellow;
    margin: 2px;
    position: absolute;
}
.box4{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: orange;
    margin: 2px;
} */ 
 
div{
    width: 100px;
    height: 100px;
    border: 2px solid orange;
    background-color: orangered;
    position: fixed;
}
p{
    position: relative;
    z-index: 100px;
}
