.container{
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    margin: 40px auto;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.single{
    height: 200px;
    width: 200px;
    border: 2px solid #3da9fc;
    text-align: center;
    margin: 4px;
    background: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;

}
.one{
    width: 90px;
    height: 90px;
    border: 2px solid black;
    border-radius: 50%;
    margin: auto;
    background-color: orange;
    background-image: url(../);
}
.head{
    background-color: #2c2c2c;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    position: sticky;
    top: 0;
}
body{
    text-align: center;
}