
    .parent{
    height: 200px;
    width: 200px;
    margin: 50px;
    
}

.div1{
    height: 200px;
    width: 200px;
    padding: 3px;
    border: 20px solid orange;
    margin:50px ;
    background-color: green;
    color: white;
}
.div2{
    height: 200px;
    width: 200px;
    padding: 3px;
    border: 20px red outset;
    margin: 50px;
    background-color: blue;
}
.div3{
    height: 200px;
    width: 200px;
    padding: 3px;
    border: 20px double  purple;
    margin: 50px;
    background-color: yellow;
}


