.div1{
    background-color: lightcoral;
    color: black;
    padding: 15px;
    margin: 20px;
    height: 125px;
    width: 125px;
    border: 5px solid gold;
    box-sizing: border-box;
    
}
.div2{
    background-color: thistle;
    color: black;
    padding: 15px;
    margin: 20px;
    height: 125px;
    width: 125px;
    border: 5px solid gold;
    box-sizing: content-box;
}