  h2{
    border: 2px solid red;
    padding: 10px;
}
h2{
    border: 2px solid red;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
h2{
    border: 2px solid red;
    padding: 10px 20px;
}

 .parent{
    display: flex;
    margin: 10px;
}
.one{
    width: 100px;
    height: 100px;
    border-width: 3px;
    border-style: solid;
    border-color: blue;
    margin: 5px;
} 
.second{
    width: 100px;
    height: 100px;
    border-width: 3px;
    border-style: dotted;
    border-color: red;
    margin: 5px;
} 
.third{
    width: 100px;
    height: 100px;
    border-width: 3px;
    border-style: dashed;
    border-color: brown;
    margin: 5px;
} 
.fourth{
    width: 100px;
    height: 100px;
    border-width: 3px;
    border-style: inset;
    border-color: yellow;
    margin: 5px;
} 
.five{
    width: 100px;
    height: 100px;
    border-width: 3px;
    border-style: outset;
    border-color: gold;
    margin: 5px;
} 
.six{
    width: 100px;
    height: 100px;
    border-width: 3px;
    border-style: double;
    border-color: purple;
    margin: 5px;
} 
.seven{
    width: 100px;
    height: 100px;
    border-width: 3px;
    border-style: groove;
    border-color: palevioletred;
    margin: 5px;
} 
.eight{
    width: 100px;
    height: 100px;
    border-width: 3px;
    border-style: none;
    border-color: blue;
    margin: 5px;
}  */

/* border */

/* div{
    width: 100px;
    height: 100px;
    border: 2px solid orange;
    border-radius: 20px;
} */

/* div{
    width: 100px;
    height: 100px;
    border: 2px solid orange;
    border-top-left-radius: 20px;
} */

/* div{
    width: 100px;
    height: 100px;
    border: 2px solid orange;
    border-top-right-radius: 20px;
} */
/* div{
    width: 100px;
    height: 100px;
    border: 2px solid orange;
    border-bottom-left-radius: 20px;
} */

/* div{
    width: 100px;
    height: 100px;
    border: 2px solid orange;
    border-bottom-right-radius: 20px;
} */

/* div{
    width: 100px;
    height: 100px;
    border: 2px solid orange;
    border-radius: 50px;
} */

/* div{
    width: 100px;
    height: 100px;
    border: 5px solid red;
    margin: 10px;
} */

/* div{
    width: 100px;
    height: 100px;
    border: 5px solid red;
    margin: 10px auto;
} */

/* div{
    width: 100px;
    height: 100px;
    border: 5px solid red;
    margin: 10px auto;
} */

/* div{
    width: 100px;
    height: 100px;
    border: 5px solid red;
    box-sizing: border-box;
} */

div{
    width: 200px;
    height: 200px;
    border: 5px solid red;
    box-sizing: content-box;
}