
.one{
    text-align: center;
    text-decoration: underline;

}
.two{
    text-align: right;
    text-decoration: overline;
}
.three{
    text-align: left;
    text-decoration: line-through;
}
.four{
    text-decoration: none;
}

/* P{ */
    /* text-shadow: 3px 4px 8px red;  */
    /* letter-spacing: 40px; */
    /* word-spacing: 30px; */
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-style: italic; */
    /* font-weight: bold; */
    /* font-size: large;
}
