*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    background-color: black;
    color: #fff;
    min-height: 100vh;
}
.start{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    justify-content: space-around;
}
.icons{
    margin-left: 20px;
    font-size: 18px;
    gap: 30px;
    display: flex
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: fixed;
    width: 100%; 
    padding: 10px; 
}
.product{
    display: flex;
    /* justify-content: space-between; */
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.list{
    display: flex;
    gap: 20px;
    align-items: center;
}
.point{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 100px;
    padding-bottom: 50px;
}
.point img{
    width: 110px;
    height: 100px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    background-color: transparent;
    border: 1px solid #555;
    box-shadow: 1px 1px 5px silver;
}
.point img:hover{
    transform: scale(1.05);
}
.mainimg img{
 width: 750px;
 height: 600px;
 padding-left: 50px;
}
/* Right side - Product Details */
.details-section {
  padding-right: 90px;
  width: 500px;
}

.details-section h2 {
  font-size: 30px;
  font-weight: 600;
}

.details-section .subtitle {
  color: #bbb;
  font-size: 20px;
  margin: 5px 0 10px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.stars {
  color: red;
  font-size: 18px;
  letter-spacing: 2px;
}

.ratings {
  color: #888;
  font-size: 14px;
}

hr {
  border: none;
  height: 1px;
  background: #222;
  margin: 10px 0;
}

/* Price Section */
.price-section {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
}

.price-section h3 {
  font-size: 30px;
}

.old-price {
  text-decoration: line-through;
  color: #888;
  font-size: 25px;
  margin-left: 10px;
  font-weight: normal;
}

.save-text {
  color: #03471c;
  font-size: 14px;
  margin-top: 5px;
}

.tax-text {
  font-size: 13px;
  color: #888;
  margin-top: 2px;
}

.in-stock {
  background-color: #00b23b;
  color: #fff;
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 13px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 30px;
}

/* Offers Section */
.offers p {
  margin-bottom: 10px;
  color: #888;
}

.offer-buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.offer-buttons button {
  background: transparent;
  border: 1px solid #555;
  color: #888;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 195px;
  text-align: left;
  font-size: 15px;
}

.offer-buttons button:hover {
  border-color: #ff3d00;
}


.add-to-cart {
  display: block;
  margin-top: 20px;
  background: #ff3d00;
  color: #fff;
  border: none;
  padding: 10px 60px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.add-to-cart:hover {
  background: #e13300;
}

.tabs {
    justify-content: center;
    display: flex;
    gap: 20px;
    margin-top: 50px;
}

.tab {
  background: none;
  color: #fff;
  border: none;
  margin: 0 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.tab:hover{
  background: red;
  border-radius: 4px;
}

.tab.active {
  background: red;
  border-radius: 4px;
}

.specs {
  padding: 40px 100px;
  margin-top: 30px;
  width: 60%;
}

.spec-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 15px;
}
.small{
    padding-right: 200px;
}
.content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0px;
    margin-bottom: 50px;
    justify-content: center;
    gap: 50px;
}
.box{
    background-color: black;
    border: 1px solid #222;
    padding: 10px;
    width: 360px;
    height: 420px;
    padding-top: 2px;
}
.box img{
    width: 300px;
    height: 220px;
}
.star{
    color: #e53935;
    font-size: 1rem;
    letter-spacing: 2px;
}
.size{
    display: flex;
    border-top:1px solid #222;
}
.box button{
    background-color: red;
    border: none;
    color: wheat;
    padding: 7px 131px;
    border-radius: 3px;
}
.box h3{
    font-size: 25px;
}
.temp{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px 12px;
}
.fiv{
    display: flex;
    gap: 10px;
    align-items: center;
}
.fiv-icon{
    color: red;
    font-size: 40px; 
    display: flex;  
    align-items: center;
    justify-content: center;
}
.bag{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* gap: 32px; */
    margin-top: 18px;
    padding-top: 18px;
    margin-bottom: 22px;
    padding-left: 50px;
}
.bag-text1{
    padding-left: 100px;
    height: 100px;
    width: 400px;
}
.bag-text{
    flex: 1 1 180px;
    padding-left: 140px;
}
.bag-text1 input{
    flex: 1;
    padding: 5px 40px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.06);
    border-radius: 4px;
} 
.bag-text1 button{
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    color: silver;
    background-color: red;
    border-radius: 5px;
    font-size: 12px;
}
.bag-text ul{
    list-style: none;
    padding: 0;
    margin: 0;
    color: silver;
    font-size: 13px;
}
.bag-text ul li{
    margin: 8px 0;
}
.footer-bottom .socials a{
  display:inline-flex;
  width:34px;
  height:34px;
  align-items:center;
  justify-content:center;
  background:transparent;
  color: white;
  border-radius:6px;
  /* margin-left:6px; */
  border:1px solid rgba(255,255,255,0.02);
  padding-right: 0px;
}
.footer-bottom{
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:12px;
  flex-wrap:wrap;
  border-top:1px solid #222;
  padding-top:12px;
  margin-top:8px;
  padding-right: 100px;
}

.footer-bottom .socials a:hover{
  color:var(--accent);
  border-color:rgba(255,90,59,0.15);
}



