div{
    height: 150px;
    width: 150px;
    background-color: chartreuse;
    margin: 60px auto;
    /* transform: rotate(120deg); */
    /* transform: scale(1.6,1.6); */
    transform: skew(20deg,40deg);
    /* transform: translate(70px,40px); */
    /* transform: matrix(1.4,20,30,1.3,20,20); */
}
body{
    background-color: black;
}